@import "scss/partials/variables/variables";

main{
    .titulo-contacto{
        text-align: $centro;
        -webkit-animation: titulo 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: titulo 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @-webkit-keyframes titulo {
        0% {
        letter-spacing: 1em;
        opacity: 0;
        }
        40% {
        opacity: 0.6;
        }
        100% {
        letter-spacing: normal;
        opacity: 1;
        }
    }
    @keyframes titulo {
        0% {
        letter-spacing: 1em;
        opacity: 0;
        }
        40% {
        opacity: 0.6;
        }
        100% {
        letter-spacing: normal;
        opacity: 1;
        }
    }
        .form-contacto{
        padding: 10px;
        margin: 10px;
        border: 10px solid $color4;
    }
}