@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#buttonVehiculos{
    margin-top: 10px;
}

#buttonEnviar{
    margin-left: 12px;
}